@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1.6rem;
    list-style: none;
    font-family: var(--fontepadrao);
}

:root {
    --cordestaque: #e6a80e;
    --cordestaque2:  #b8860b;
    --cordestaque3: #f5f5f5;
    --fontepadrao: 'Sarala', 'Ubuntu', sans-serif;
    --bgpreto: #151515;
    --bgpreto2: #1a1a1a;
    --bgpreto3: #111111;
}
html {
    font-size: 62.5%;
}

.destaque {
    color: var(--cordestaque);
    font-size: 3rem;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 32%, rgba(255, 255, 255, 0.120) 33%, rgba(255, 255, 255, 0.120) 85%, transparent 86%, transparent 100%);
}

.subtitle {
    color: var(--cordestaque2);
    text-shadow: 0px 0px 1px var(--cordestaque);
}

.subtitle2 {
    color: var(--cordestaque2);
    text-shadow: 1px 1px 1px var(--bgpreto);
}

/* PRIMEIRO MERCHAN !*/

.merchan {
    background-color: var(--bgpreto3);
    padding: 2rem 0;
}
.merchan-box {
    display: block;
    max-width: 70vw;
    width: 100%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    padding: 6rem 0;
}

.merchan-box > p {
    color: var(--cordestaque3);
    max-width: 70vw;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    line-height: 3.5rem;
}

.merchan-box > img {
    height: 40rem;
    max-width: 100%;
}

/* FIM PRIMEIRO MERCHAN */

/* SOBRE NÓS */

#about-us {
    background-color: var(--bgpreto);
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-box {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 70%;
    padding-top: 2rem 0;
    border-radius: 10px;
    text-align: center;
}
#about-box > h2 {
    color: var(--cordestaque2);
    padding-top: 5rem 0;
    margin: 4rem 0;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
}

#about-box > p {
    max-width: 70vw;
    padding: 3rem 0;
    color: var(--cordestaque3);
    line-height: 3.5rem;
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
}
/* FIM SOBRE NÓS */

/* MERCHAN + SERVIÇOS */

.merchan-service {
    background-image :linear-gradient(to bottom, #e6a80e, #eeb647, #f6c46d, #fbd292, #ffe1b6, #fff0da, #ffffff);
    text-align: center;
}

.merchan-service > section > .merchan-box > h2 {
    color: var(--bgpreto3);
}

.merchan-service > section > .merchan-box > p {
    color: var(--bgpreto3);
    line-height: 3.5rem;
    text-indent: 2rem;
}

.service-section > h2 {
    color: var(--bgpreto3);
    text-align: left;
    padding: 3rem 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    text-shadow: 0px 1px 2px var(--bgpreto);
    font-size: 4.8rem;
    font-weight: bold;
}

.service-section > .container {
    background-color: var(--bgpreto3);
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    border: 1px solid var(--bgpreto3);
    box-shadow: 1px 1px 4px var(--bgpreto2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.serv-container {
    flex: 1;
    padding: 30px 35px;
}

.serv-container > h2 {
    padding-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.serv-container > p {
    line-height: 3rem;
    padding: 1rem 0px;
    max-width: 90%;
    margin: auto;
    text-align: justify;
    text-indent: 2rem;
    color: var(--cordestaque3);
    font-size: 3rem;
    font-weight: 600;
}

#central {
    border-top: 1px solid var(--cordestaque2);
    border-bottom: 1px solid var(--cordestaque2);
}

/* FIM MERCHAN + SERVIÇOS */


/* CLIENTES */

#clientes {
    
    max-width: 100%;
}

.container-feedback {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    grid-gap: 2rem;
}

.container-feedback > div {
    border-radius: 20px;
    border-top: 1px solid var(--bgpreto);
    border-left: 1px solid var(--bgpreto);
    border-bottom: 3px solid var(--bgpreto);
    border-right: 3px solid var(--bgpreto);
    text-align: center;
    line-height: 3rem;
    padding: 1.5rem 1rem;
    color: var(--bgpreto3);
    box-shadow: 2px 2px 5px var(--bgpreto3);
}

#cliente01 {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 2rem;
}

#cliente02 {
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: center;
}

#cliente03 {
    grid-column: 1/2;
    grid-row: 3/5 ;
}

#cliente04 {
    grid-column: 2/3;
    grid-row: 4/6;
    justify-self: center;
}
/* FIM ÁREA CLIENTES */

/* FALE CONOSCO ! */

#contato {
    background-color: var(--bgpreto);
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contato > .container {
    background-color: lightgray;
    max-width: 450px;
    border-radius: 10px 10px;
    padding: 25px;
    border-top: 1px solid var(--cordestaque);
    border-left: 1px solid var(--cordestaque);
    border-bottom: 3px solid var(--cordestaque);
    border-right: 3px solid var(--cordestaque);
}

#contato > .container > h2, p, img {
    margin-bottom: 20px;
}

.container > form {
    max-width: 400px;
    margin: 0 auto;
}

#contato > .container > form > input {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}
/* FIM FALE CONOSCO !*/

/* MEDIA QUERIES */

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
    .service-section > .container {
        max-width: 70vw;
    }

    #about-box {
        max-width: 70vw;
    }
}


@media (max-width: 450px) {

    .service-section > .container {
        max-width: 80vw;
    }

    #about-box {
        max-width: 80vw;
    }

    .container-feedback {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 4rem;
    }

    #cliente01 {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 2rem;
    }

    #cliente02 {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 2rem;
    }

    #cliente03 {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 2rem;
    }

    #cliente04 {
        grid-column: 1/2;
        grid-row: 4/5;
        margin-top: 2rem;
    }
}